body{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 10%;
	background: #F4F4F9;
}

#container {
    display: inline-block;
    position: relative;
    width: 90%;
	font-size: 15px;
	border-collapse: separate;
}
table { 
	table-layout: fixed;
    border-collapse: separate;
	width: 100%;
	margin-bottom: 2%;
}

td {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
}

h2 {
	font-style: oblique;
}

#cabecera {
	width: 100%;
}

th {
	background-color: #2F4550;
	color: white;
}

tr:nth-child(even) {
	background-color: #B8DBD9;
}

tr:nth-child(odd){
	background-color: #849ca9;
}

.cargando{
	height: auto;
	width: 10%;
	margin-left: auto;
}

#linkDiagramas{
	background-color: white;
	border: solid #2F4550;
	color: #2F4550;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: inherit;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1% 1%;
	border-radius: 25%;
	transition-duration: 0.4s;
}

#linkDiagramas:hover {
	background-color: #2F4550; /* Green */
	color: white;
}

#tablaResultadoJS td{
	text-align: center;
}

#tablaResultadoJS th{
	font-size: larger;
}

.tooltip {
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 1%;
	color: black;
	font-weight: bold;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
	font-weight: normal;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	font-weight: normal;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.iconoInfo{
	height: auto;
	display: inline-block;
	width: 5%;
}

.nombreElemento{
	float: left;
	display: inline-block;
}